*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #223243;
    font-family: Vazirmatn, sans-serif;
 
}

.container{
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35) ,-5px -5px 15px rgb(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.container .Form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
    
.container .Form h2{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1rem;

}
.container .Form .inputBox{
    position: relative;
    width: 300px;

}
.container .Form .inputBox input{
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background: #223243;
    border: 1px solid rgb(24, 24, 24);
    color: #fff;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgb(25, 25, 25,0.1),
    5px 5px 15px rgb(0, 0, 0, 0.35);
    transition: 0.5s;
    outline: none;
}
.container .Form .inputBox span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05s;
    color: rgb(255, 255, 255,0.5);
    letter-spacing: 1px;
}
.container .Form .inputBox input:valid ~ span,
.container .Form .inputBox input:focus ~ span 
{
    color: #00dfc4;
    border: 1px solid #00dfc4;
    background: #223243;
    transform: translateX(25px) translateY(-7px);
    font-size: 0.6em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;

}
.container .Form .inputBox input:valid,
.container .Form .inputBox input:focus
{
    border: 1px solid #00dfc4;
}
.container .Form .inputBox i{
    position: absolute;
    top: 12px;
    left: 16px;
    width: 25px;
    padding: 2px 0;
    padding-right: 8px;
    color: #00dfc4;
    border-right: 1px solid #00dfc4;
}
.container .Form .inputBox input[type = "submit"]{
    background: #01cfb7;
    color: #223243;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35) ,-5px -5px 15px rgb(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);

}
.container .Form .inputBox input[type = "submit"]:hover {
    background-color:#00ffe1; 
}
.container .Form p {
    color: rgb(255, 255, 255,0.5);
    font-size: 0.75em;
    font-weight: 300;
}
.container .Form.signin{
    display: none;
}

.container.signinForm .Form.signin, .container.signinForm .Form.signup{
    display: flex;
}